@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.data-content{
    width: 100%;
    height: 550px;
    border-radius: 15px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15); 
    background-color: #fff;
    padding: 20px; 
    background-color: white;
}

        caption {
            padding: 10px;
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }

    .content-wrapper {
      padding: 20px;
    }
.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 30%;
    float: right;
    position: relative; /* This will help position the suggestions dropdown correctly */
}

.search-container input[type="text"] {
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    outline: none;
    width: 100%;
}

.search-container button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
}

.search-container button i {
    font-size: 18px;
}

.search-container button:hover {
    background-color: #45a049;
}

#suggestions {
    border: 1px solid #ccc;
    max-height: 250px;
    overflow-y: auto;
    background-color: white;
    position: absolute;
    top: 100%; /* Positions suggestions directly below the search bar */
    left: 0;
    width: 100%;
    z-index: 1000;
/*    display: none; /* Hide by default */*/
}

#suggestions ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#suggestions li {
    padding: 10px;
    list-style: none;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #ddd;
}

    .content-wrapper {
      padding: 20px;
    }






    @media (max-width: 768px) {
      .navbar-brand {
        display: flex;
        align-items: center;
      }

      .navbar-brand img {
        height: 40px;
        width: 40px;
        margin-right: 10px;
      }

      .navbar-brand .brand-text {
        font-size: 1rem;
      }
      .search-container input[type="text"] {
                width: 150px;
            }

       .search-container button {
                padding: 8px 10px;
                font-size: 14px;
            }
       table {
                font-size: 14px;
            }
        }
    @media (max-width: 480px) {
            .search-container input[type="text"] {
                width: 100%;
                box-sizing: border-box;
            }

            .search-container button {
                padding: 8px 10px;
                font-size: 14px;
                width: 100%;
                border-radius: 25px 25px 0 0;
            }

            table {
                font-size: 12px;
            }
        }